* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

main.wrapper {
    width: 100%;
    height: 100%;
    background-color: #4b71a6;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
}

main.wrapper form {
    width: 60%;
    height: 70%;
    background-color: #143056;
    border: 2px solid black;

}
